body, html{
  height: 100%;
  width: 100%;
}
body{
  background: url(src/dancerImages/nic-background.jpg) no-repeat center center fixed;
  background-size: cover;

  display: grid;
  justify-items: center;
  grid-template: "b b b b b" auto
                 "a a a a a" auto
                 "a c c c a" auto
                 "a c c c a" auto
                 "a a a a a" auto;
                
  margin: 0px;
  background-color:#2e40a8;
  font-size: 18px;
}

/* BUTTONS ------ **/

.addDancerButton, .addTwirlyDancer, .addFancyDancer {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid rgb(119, 119, 119);
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:rgb(1, 8, 31);
  text-align:center;
  transition: all 0.2s;
}

.addDancerButton:hover, addTwirlyDancer:hover, .addFancyDancer:hover{ 
  color:#000000;
  background-color:#FFFFFF;
}

/* TOP BAR -------- **/

.topbar{
  grid-area: "b";
  height:32px;
  color: #000000;
}
.title{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-size: 100%;
  font-weight:500;
  color:rgb(2, 1, 1);
  background-color: #FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

/* DANCERS ------- **/

.dancer{
  grid-area: "c";
  max-width: 20%;
  max-height: 20%;
  position:absolute;
  content: url(src/dancerImages/yelling-nic-cage.jpg);
}

.twirlyDancer{
  grid-area: "c";
  max-width: 20%;
  max-height: 20%;
  position:absolute;
  content: url(src/dancerImages/nic-wants-you.gif);
  animation-name: twirl;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fancyDancer{
  grid-area: "c";
  max-width: 20%;
  max-height: 20%;
  position:absolute;
  content: url(src/dancerImages/nic-needs-you.png);
  animation: nudge 5s linear infinite alternate;  
}







/* ========================= ANIMATION =====================*/
@keyframes twirl {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  30% {
    transform: rotate(180deg);
  }
  50% {
    transform: translate(150px, 0);
  }
  60% {
    transform: rotate(180deg);
  }
  80% {
    transform: translate(-150px, 0);
  }
}